.Product {
  width: 70%;
  margin: 6em auto 0 auto;
}

form {
  width: 85%;
  margin: 0 auto;
  font-size: 1.2em;
}

.input-control {
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
}

.input-control button {
  padding: 12px;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.input-control input {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 12px;
}

.input-control input:focus {
  outline: 0;
}

.input-control textarea {
  border: none;
  border-bottom: 2px solid #f0f0f0;
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 12px;
}

.input-control textarea:focus {
  outline: 0;
}
