.contact-us {
  width: 85%;
  margin: 4em auto 0 auto;
  display: flex;
}

.contact-message {
  width: 50%;
  line-height: 2em;
  font-size: 1.2em;
}

.contact-message h1 {
  margin-bottom: 1em;
}

.contact-form {
  width: 50%;
}

.contact-form form {
  width: 90%;
  margin: 0 auto;
  font-size: 1.2em;
}

.input-control {
  display: flex;
  flex-direction: column;
  margin-top: 1.2em;
}

.addpost {
  margin-top: 2em;
}
.input-control button {
  padding: 12px;
  border: none;
  font-size: 0.9em;
  font-weight: 600;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.input-control input {
  padding: 12px 0;
  border: none;
  border-bottom: 1px solid black;
}

.input-control input:focus {
  outline: 0;
}

.input-control textarea {
  padding: 12px 0;
  border: none;
  border-bottom: 1px solid black;
}

.input-control textarea:focus {
  outline: 0;
}

/* Media Queries */

@media (max-width: 768px) {
  .contact-us {
    flex-direction: column;
  }

  .contact-message {
    width: 100%;
  }

  .contact-form {
    width: 100%;
    margin-top: 1.2em;
  }

  .contact-form form {
    width: 100%;
  }
}
