.products-container {
  width: 85%;
  margin: 0 auto;
}

.products-container {
  line-height: 2em;
}

.product {
  width: 24%;
  padding: 15px;
  margin-top: 2em;
  float: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 0.75em;
}
.action-price {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.action-price button {
  border: 0.8px solid #171817;
  border-radius: 5px;
  background-color: white;
  padding: 6px 24px;
  text-align: center;
  cursor: pointer;
  margin-right: 1.5em;
}

.bt1:hover {
  background-color: rgb(98, 150, 219);
  color: #fff;
  border: none;
}

.bt2:hover {
  background-color: red;
  color: #fff;
  border: none;
}

.product img {
  width: 100%;
  height: 200px;
}

/* Media Qeuries */
@media (max-width: 1024px) {
  .product {
    width: 48%;
  }
}

@media (max-width: 790px) {
  .product {
    width: 48%;
  }
  .products-container {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .product {
    width: 48%;
  }
}
